
{% extends 'global/base.html'%}
{% load static %}
{% block title %}
    {{title}} | User
{% endblock %}

{% block content %}
    <div class="main-content center container">
 
        <h2>Dashboard ({{user}})</h2>
        <br>
        {% include 'global/partials/messages.html' %}
        {% include 'authors/partials/message_login.html'%}
        <br>
        <div class="authors-dashboard-container">
            <h3>Your recipes</h3>
            <ul>
                {% for recipe in recipes %}
                    <li class="d-flex items-center">
                        <a href="{% url 'authors:dashboard_recipe_edit' recipe.id %}">{{recipe.title}}  </a>
                        <form id="form-delete" class="form-delete ml-2 " action="{% url 'authors:dashboard_recipe_delete' %}" method="post">
                            {% csrf_token %}
                            <input required type="hidden" name="id" value="{{ recipe.id}}">
                            <button class="delete-button" type="submit"> ❌ </button>
                        </form>
                    </li>
                {% empty %}
                <li>
                    <p>You do not have recipes, please create one.</p>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
 
{% endblock content %}

{% block script_extra %}
   <script src="{% static 'global/js/recipe_delete.js' %}"></script>
{% endblock script_extra %}