{% if request.user.is_authenticated %}
            <br>
            
                <div class="message message-info">
                   
                    <p style="color:black" >Your are logged in width <strong>{{ request.user.username}}</strong>.
                        <a href="{% url 'authors:dashboard' %}">See your recipes</a> or 
                        <a aria-label="Logout" href="{% url 'authors:logout' %}">Logout</a>
                    </p>
                </div>
           
{% endif %}